
<center> <h1><font color="red">FORMULARIO LOGIN</font></h1>   </center>  


    <form name="formIngreso" id="formIngreso" enctype="multipart/form-data" >
     <link rel="stylesheet" href="./formularios/LoginAngular/css/style.css">

       <p>
        <input type="email" value="" placeholder="ingrese correo" ng-model="usuario.correo"  />
        </p>
         <p>
        <input type="password" value="" placeholder="ingrese password" ng-model="usuario.password"   />
        </p>
        <input type="button" id="Ingreso" ng-disabled='formIngreso.$invalid' class="button" ng-Click="IniciarSeccion()" name="Ingreso" value="ingreso" />
        </div>

        </form>


     
    </div>

 
  </section>
