<div class="CajaUno animated bounceInDown">
	<form id="FormIngreso">
		<input type="text"  ng-model="num" placeholder="Ingrese número" id="numero">
		<br>
		<input type="text"  placeholder="intentos" ng-model="intentos" readonly id="intentos">
		<input type="text"  placeholder="Resultado" ng-model="result" readonly id="intentos">
	</form>
</div>
<div class="CajaUno animated bounceInLeft">
<button class="MiBotonUTN"  ng-click="verificar()" >Verificar</button>
	<button  class="MiBotonUTN" ng-click="comenzar()" >Comenzar</button>
</div>
<div class="CajaEnunciado animated bounceInLeft">
	<h2>Enunciado: {{Numero}} {{num}}</h2>
		<h3>
			1.	Adivina el número (v 2.0):
			En esta oportunidad el juego evaluará tus aptitudes a partir de la cantidad de intentos, por lo cual se informará lo siguiente:
			<br>	1° intento: “usted es un Psíquico”.
			<br>	2° intento: “excelente percepción”.
			<br>	3° intento: “Esto es suerte”.
			<br>	4° intento: “Excelente técnica”.
			<br>	5° intento: “usted está en la media”.
			<br>	Desde  6 Intentos hasta 10:”falta técnica”
			<br>	Más de 10 intentos: “afortunado en el amor!!”.
		</h3>
</div>
<div class="CajaAbajo animated bounceInUp">
	<a  class="MiBotonUTNLinea" ui-sref="sala.menu" >Men&uacute; ejercicios</a>	
</div>