	<div class="container">
		<div class="page-header">
			<center> <h1>Datos</h1>   </center>     
		</div>
		<div class="CajaInicio animated bounceInRight">
			<h1> </h1>

			<form id="FormIngreso" name="FormIngreso" enctype="multipart/form-data" >
			
			
				<input type="text" name="apellido"  ng-model="persona.apellido" placeholder="ingrese apellido" value="" required/>
				<span id="lblApellido" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*
				</span>
				<input type="text" name="nombre"  ng-model="persona.nombre" placeholder="ingrese nombre" value="" required/> <span id="lblNombre" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
				<input type="text" name="dni" ng-model="persona.dni"  placeholder="ingrese dni" value="" readonly="readonly" /> 
				<span id="lblDni" style="display:none;color:#FF0000;width:1%;float:right;font-size:80">*</span>
			
				</p>
				<input type="hidden" name="idOculto" id="id" value="" />
				  <!-- 3. nv-file-over uploader="link" over-class="className" -->
       
                           <input type="file" nv-file-select="" uploader="SubirdorArchivos" multiple  /><br/>

					<li ng-repeat="item in SubirdorArchivos.queue">
					<!-- nombre del archivo -->
					Archivo: <span ng-bind="item.file.name"></span><br/>
					<!-- imagen del archivo -->
					<div ng-show="SubirdorArchivos.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
			
				
					<!-- boton cancel -->            
					<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
						<span class="glyphicon glyphicon-ban-circle"></span> Cancel
					</button>

					<!-- boton remove -->
					<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
						<span class="glyphicon glyphicon-trash"></span> Remove
					</button>
				</li>  
				<img  ng-src="{{persona.foto}}" class="fotoform" id="foto" ng-model="persona.foto"/>

				<p style='color: black;'>*El DNI no se puede modificar.</p>
				<a class="btn btn-info " name="guardar" ng-disabled="FormIngreso.$invalid"  ng-click="ModificarObjeto(persona)" ><span class="glyphicon glyphicon-save">&nbsp;</span>Modificar</a> 
					
				<input type="hidden" value="" id="idParaModificar" name="agregar" />
				<input type="hidden" value="" id="hdnAgregar" name="agregar" />
				</div>

			</form>
	</div>
	</div>
